
.k-container {
  font-size: 2.5vw;
  position: fixed;
  bottom: 0;
}

body, html,
.k-container div,
.k-container p,
.k-container span,
.k-container textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.k-keyboard span,
.k-container .k-preview span {
  display:inline-block;
  text-align: center;
}
.k-keyboard span,
.k-container .k-preview {
  border: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}
.k-keyboard span {
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  line-height: 2em;
  color: #ccc;
  background-color: #000;
}
.k-keyboard span.k-alternative{
  width: 3.333em;
}
.k-keyboard span.highlight{
  color: #ff0;
  font-weight: bold;
}
.k-keyboard span.disable{
  color: #999;
  background-color: #666;
}
.k-keyboard span.chosen{
  color: #fff;
  background-color: #090;
  font-weight: bold;
}
.k-container .k-preview,
.k-container .k-binary,
.k-container textarea { 
  position: absolute;
}
.k-container .k-preview {
  left: 12em;
  top: 4em;
  width: 6em;
  height: 6em;
} 
.k-container .k-preview span {
  width: 100%;
  height: 100%;
  font-size: 6em;
  line-height: 0.8em;
}
.k-container .k-preview span.special {
  font-size: 2em;
  line-height: 3em;
}
.k-container .k-binary {
  width: 5vw;
  top: 0;
  left: 45vw;
  height: 25vw;
  text-align: center;
}
.k-container .k-binary span {
  padding: 1vw 0;
  font-size: 10vw;
  line-height: 2.2vw;
  display: block;
  color: #999;
}
.k-container .k-binary span.active {
  background-color: #ff0;
}
.k-container .k-binary span.on {
  color: #000;
}
.k-container .k-binary span.off {
  color: #eee;
}
.k-container .k-binary span.go {
  color: #090;
}
.k-container textarea {
  width: 50vw;
  top: 0;
  left: 50vw;
  height: 25vw;
  font-size: 2vw;
  color: #ff0;
  background-color: #000;
}
.k-container textarea.focus {
  color: #000;
  background-color: #fff;
}